extends layout

block content
  h1= title
  h2 This is a tool for simulating the Tesla servers and testing calls to the Tesla RESTful APIs

  br
  a(href='/driveState') Drive State
  
  br
  a(href='/chargeState') Charge State
  
  br
  a(href='/vehicleState') Vehicle State
  
  br
  a(href='/climateState') Climate State
