extends layout

block content
  h1= title

  hr

  h2 An ExpressJS app for simulating the Tesla servers and testing calls to the Tesla RESTful APIs

  br
  p= 'Cars: ' + cars + ' cars defined.'

  input(type="button", onclick="location.href='/addcar'", value="Add Car")

  hr

  br
  br
  input(type="button", onclick="location.href='/driveState'", value="Drive State")

  br
  br  
  input(type="button", onclick="location.href='/chargeState'", value="Charge State")
  
  br
  br
  input(type="button", onclick="location.href='/vehicleState'", value="Vehicle State")
  
  br
  br
  input(type="button", onclick="location.href='/climateState'", value="Climate State")
